<%- include("header") -%>

  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container  w-100 p-3 mx-auto">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">My Contacts</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Add contacts</a>
        <a class="nav-link" href="#allContacts">All contacts</a>
        <a class="nav-link" href="/signIn">Sign out</a>
      </nav>
    </div>
  </header>


  <main class="px-3 main" id="newContact">
    <h1>Add new contact</h1>

    <form class="" action="/addContacts" method="post">


      <div class="form-group">
      <label for="inputContactName" class="labels">Contact Name</label>
      <input type="text"  name="contactName" class="form-control is-invalid" id="inputContactName"  placeholder="Enter Contact Name" required>
    </div>


    <div class="form-group">
      <label for="phone">Phone</label>
      <input name="phone" type="tel" class="form-control" id="phone" size=10 placeholder="Phone" required>
    </div>

    <div class="form-group">
    <label for="floatingInputEmail" class="labels">Email address</label>
    <input type="email"  name="contactEmail" class="form-control is-invalid" id="floatingInputEmail"  placeholder="Enter email">
  </div>


    <p class="lead">
      <button class="btn btn-lg btn-secondary fw-bold border-white bg-white" type="submit">Add Contact</button>
    </p>

    </form>
    <br>
    <br>


  </main>

  <div class="allContacts">

        <table class="table table-striped" id="allContacts">
          <thead>
            <tr>
              <th scope="col" class="text-white">#</th>
              <th scope="col" class="text-white">Name</th>
              <th scope="col" class="text-white">Phone</th>
              <th scope="col" class="text-white">Email</th>
            </tr>
          </thead>
          <tbody>


<% for (let i=1; i<=allContacts.length; i++) { %>

  <tr>
    <td class="text-white"><%= i %></td>

<td class="text-white"><%=  allContacts[i-1].contactName %></td>
<td class="text-white"><%=  allContacts[i-1].phone %></td>
<td class="text-white"><%=  allContacts[i-1].contactEmail %></td>

  </tr>


  <% } %>
          </tbody>
    </table>
  </div>


    <% if( newContact  ) { %>
    <script type="text/javascript">
     alert("Succesfully added new contact");
    </script>
    <% } %>



    <% if( error  ) { %>
    <script type="text/javascript">
     alert("Some error occured in contact page , please try again");
    </script>
    <% } %>

<%- include("footer") -%>
